*{
    margin: 0;
    padding: 0;
}

html{
    background-color: white;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
}
#topbar{
    height: 5rem;
    width: 100vw;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(94, 92, 84);
}

#container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content{
    margin-top: 2rem;
    width: 90%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.btn{
    height: 40px;
    padding: 5px;
    font-size: 15px;
    background-color: seagreen;
    border: 2px solid rgb(20, 61, 38);
    border-radius: 10px;
    color: white;
    min-width: 120px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(67, 170, 111);
}

.home-button{
    margin-left: 50px;
}

#printTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
#printTable td, #printTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#printTable tr:nth-child(even){background-color: #f2f2f2;}

#printTable tr:hover {background-color: #ddd;}

#printTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.title-page{
    margin-left: 50px;
}
.items-links{
    margin-right: 50px;
}