{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django App</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    </head>
    <body>
        <main>
            <div id="topbar">
                <div class='title-page'>
                    <h2>Control de notas</h2>
                </div>
                <div class='items-links'>
                    <a class='home-button' href="/">
                        Principal
                    </a>
                    <a class='home-button' href="/general">
                        General
                    </a>
                </div>
            </div>
            <div id="container">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script> 
</html>