{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django App</title>
    </head>
    <body>
        <main>
            <div id="topbar">
                <div class="item">

                </div>
            </div>
            {%block content%}
            {% endblock %}
        </main>
    </body>
</html>