{% extends 'notes/base.html' %}
{% load static %}

{%block content%}
<div class="title-container">
    <h2>Alumno: {{name}} </h2> 
    <a href="{% url 'notescreate' %}"><button class="btn">Agregar Materia</button></a>
</div>
<table id="printTable">
    <tr>
        <th>Materia</th>
        <th>Unidad 1</th>
        <th>Unidad 2</th>
        <th>Unidad 3</th>
        <th>Unidad 4</th>
        <th>Unidad 5</th>
        <th>Promedio</th>
        <th>Estado</th>
        <th>Editar</th>
    </tr>
    {% for materia in materias%}
        <tr>
            <td>{{materia.clase}}</td>
            <td>{{materia.u1}}</td>
            <td>{{materia.u2}}</td>
            <td>{{materia.u3}}</td>
            <td>{{materia.u4}}</td>
            <td>{{materia.u5}}</td>
            
            <td>{{materia.promedio}}</td>
            <td>{{materia.status}}</td>
            <td><a href="{% url 'notesupdate' materia.id %}"><button>Editar</button></a></td>
        </tr>
    {% endfor %}
</table>
{% comment %} <img src="{% static 'images/shinobu.jpg'%}" {% endcomment %}
{% endblock %}